@font-face {
    font-family: 'Dekar-Light';
    src: url('fonts/Dekar/Dekar-Light.eot') format('eot'),
         url('fonts/Dekar/Dekar-Light.woff') format('woff'),
         url('fonts/Dekar/Dekar-Light.woff2') format('woff2'),
         url('fonts/Dekar/Dekar-Light.ttf') format('truetype'),
         url('fonts/Dekar/Dekar-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Dekar-Regular';
    src: url('fonts/Dekar/Dekar-Regular.eot') format('eot'),
         url('fonts/Dekar/Dekar-Regular.woff') format('woff'),
         url('fonts/Dekar/Dekar-Regular.woff2') format('woff2'),
         url('fonts/Dekar/Dekar-Regular.ttf') format('truetype'),
         url('fonts/Dekar/Dekar-Regular.otf') format('opentype');
}

body {
	font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.navbar {
  background-color: #fab900;
}

.btn.btn-light.action-button
{
  background: url("imageszozor/fond_jaune.png");
}

.nav-link {
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 20px;
}

.nav-link:hover {
	color: black;
}

#navcol-1 {
  text-align: center;
}

@media (min-width: 768px) {
  #navcol-1 {
    padding-left: 125px;
  }
}

@media (max-width: 576px) {
  .sign-in-container form h3, .sign-up-container form h3, .overlay-container h1 {
    font-size: 19px;
  }
  form, .overlay-panel {
    padding: 0 2px;
  }
  .ghost, .bouton{
      width: 145px;
  }
  .container#container{
      min-height: 450px;
  }
  a {
    margin: 5px 0;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

input {
  border-radius: 30px;
}

#globalContent {
  flex: 1;
}

.footer-basic {
  background-color: black;
  color: white;
}

#wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#lateralSideBar {
	font-family: 'Dekar-Light';
    min-width: 250px;
    max-width: 250px;
    min-height: 74vh;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#lateralSideBar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    border-radius: 0px;
	padding: 1px 6px;
	margin-top: 18px;
    margin-left: 18px;
    box-shadow: unset;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fab900;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#lateralSideBar .nav-link * {
	font-size: 13px;
    font-weight: 900;
    display: inline-block;
}

ul#accordionSidebar {
    width: 100%;
}

#accordionSidebar .nav-link {
    width: 100%;
    text-align: left;
}

div#content {
    width: 100%;
	background: #ECF0F1;
}

.block {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
	padding: 50px;
}

.jumbotron {
    background: url(../../assets/img/accueil.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.6) inset;
}

.cardImage {
	width: 100%;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color 0.25s;
    font-size: inherit;
}

.heading {
    margin-bottom: auto;
    text-align: center;
    color: black;
}

#h1bienvenue {
    text-align: center;
    padding: 40px 0px;
}

#middleJumboParagraph {
    text-align: justify;
    width: 68%;
    margin: auto;
    font-size: 20px;
    padding: 20px 0px;
}

p#callToAction a {
    font-size: 20px;
}

.space{
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-contact{
	margin: auto;
}

.pres_image img{
	width: 100%;
}

.pres_button {
    width: 174px;
    height: 59px;
    background: #fab900;
    text-align: center;
	padding: 16px 10px;
	transition: all 300ms ease;
}

.pres_button:hover {
    transform: translateZ(10px);
}

.pres_button a{
	color: white;
	text-transform: uppercase;
}

.pres_button a:hover{
	text-decoration: none;
}

.pres_button a::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 50%;
	height: 100%;
	background: #FFFFFF;
	content: '';
	opacity: ;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: -1;
}

.pres_button:hover a::after
{
	width: 100%;
	opacity: 1;
}

.pres_button:hover a
{
	color: #fab900;
}

.pres_title
{
	font-size: 80px;
	color: black;
}

.dropdown .dropdown-toggle:after{
    margin-left: .5em;
    vertical-align: 0.35em;
	font-size: 30px;
}

.dropdown-menu.show {
    background-color: #56c6c6;
}

.dropdown-menu.show .dropdown-item {
    color: white;
    font-size: 16px;
}

.dropdown-item:hover {
    background-color: #fab900!important;
}

.dropdown-toggle.btn:focus {
    box-shadow: unset;
}

.navig_flech, .navig_flech a {
    color: #fab900;
	font-weight: 700;
    font-size: 20px;
}

.navig_flech a:hover {
    color: #29292a;
    text-decoration: underline;
}

/*login*/
.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #55c6c6;
}

.login-dark form {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 60px;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}
/* FIN login*/
/* admin */
.card{
    width: 100%;
}

#popup{
  position: absolute;
  background: #000000bf;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

/* FIN admin*/

/*POP UP */
.overlay{
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.popup{
  margin: 20% auto;
  width: 80%;
  height: 30%;

  text-align: center;
  background-color: rgb(228,228,228);
  border-radius: 5px;
  box-shadow: 15px 20px rgba(0,0,0,0.5);
  padding: 1em;
}

/*FIN POPUP UP */
/* PROFIL */

#avatarPic img{
  width: 100%;
  margin-bottom: 50px;
  border-radius: 50%;
}

#photoChooser {
	border-radius: unset;
	position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
	margin-top: 30px;
}

.custom-file-label{
	margin-top: 230px;
}

#profilPic img{
	width: 200px;
	border-radius: 50%;
	height: 200px;
	margin-left: 5%;
}

#profil-name{
	font-size: 24px;
	height: 40%;
    padding-top: 3%;
}

#profil-mail{
	font-size: 20px;
}

#dataTable{
	padding-left: 10px;
	padding-right: 10px;
}

#tableau {
    margin-left: 10px;
    margin-right: 10px;
}

.specialTab {
    margin-left: 65px!important;
	font-size: 20px!important;
}

.btn-login{
    color: white;
	text-transform: uppercase;
}

.btn-login:hover{
    color: #55c6c6;
	background-color: white;
	border: 2px solid #55c6c6!important;
	font-weight: 900!important;
}

.tutorat-yncrea{
    padding: 90px 0px;
}

.desc-tutorat{
    padding: 90px 0px;
}

.desc-tutorat p, .tutorat-yncrea p{
    text-align: justify;
}

.type-tutorat{
    color: black;
    text-transform: uppercase;
    font-size: 45px;
}

.small-slider {
    background-image: url(../img/0.jpg);
    background-size: cover;
    background-position: center;
    min-height: 330px;
    width: 100%;
}

.small-slider div.slider-nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    width: 36px;
    height: 72px;
    line-height: 60px;
    font-size: 35px;
    text-align: center;
    margin: 0;
    border-radius: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 8px 10px;
}

#slider-next {
    right: 12px;
}

#slider-text {
    color: wheat;
    text-align: center;
    padding-top: 141px;
}

#slider-title {
    background: rgba(0, 0, 0, 0.55);
    padding: 5px 20px;
    top: 50%;
    width: 50%;
    margin: auto;
}
/*FIN PROFIL */
/*      Evenement        */
.text-primary {
    text-align: center;
    color: #29292a!important;
    font-size: 30px;
}

.debut{
    margin-top: 50px;
    margin-bottom: 65px;
}

.card-body-title{
    text-align: center;
    padding-bottom: 20px;
    font-size: .9rem;
}

.btn {
    background-color: #fab900;
    color: white;
}

.btn:hover {
    background-color: white;
    color: #fab900;
    font-weight: 700;
    border:2px solid #fab900;
}

.rechercher {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataTable {
    white-space: nowrap;
}

.text-nowrap .row input {
    background-color: white;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}

@media (max-width:768px) {
    .dataTable, .btn {
        font-size: 16px;
    }
}
/*      Fin Evenement   */

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    #lateralSideBar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #lateralSideBar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

@media (max-width:425px) {
    #middleJumboParagraph {
		font-size: 11px;
        width: 90%;
	}
	#h1bienvenue {
		font-size: 25px;
        padding: 10px 0px;
	}
    p#callToAction a {
        font-size: 11px;
    }
	.sidebar .nav-item .nav-link span, .sidebar .nav-item .nav-link i  {
		font-size: 7px;
	}
	.card-text {
		font-size: 15px;
	}
    .dropdown-menu.show {
        width: 100%;
    }
    a.nav-link {
        padding-top: 0px;
    }
    .dropdown-menu.show .dropdown-item {
        font-size: 20px;
        text-align: center;
    }
    #sidebarCollapse {
        width: 50px;
        height: 50px;
        margin-left: 0px;
    }

    .tutorat-yncrea, .desc-tutorat {
        padding: 40px 0px;
    }

    .pres_title, .type-tutorat {
        font-size: 22px;
    }

    .pres_button {
        width: 120px;
        height: 35px;
        padding: 9px 10px;
        font-size: 11px;
    }

    .desc-tutorat p, .tutorat-yncrea p {
        font-size: 13px;
    }
    .small-slider {
        min-height: 150px;
    }
    .small-slider div.slider-nav {
        width: 30px;
        height: 40px;
        font-size: 25px;
        padding: 2px 6px;
        line-height: 40px;
    }
    #slider-text {
        padding-top: 58px;
    }
    #slider-title {
        font-size: 23px;
    }
    .footer-basic .copyright {
        font-size: 18px;
    }
    .block {
        padding: 0px;
        padding-bottom: 45px;
    }
    .text-primary {
        font-size: 23px!important;
    }
    .debut {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
